DATABASE_URL="postgresql://postgres:password@localhost:5432/student_tasks?schema=public"
JWT_SECRET="v9Kx7Pq2Lm8Rt4Yw6Nc3Hs5Jd1Fz0AbQv9Kx7Pq2Lm8Rt4Yw6Nc3Hs5Jd1Fz0AbQv9Kx7Pq2Lm8Rt4Yw6Nc3Hs5Jd1Fz0AbQ"
PORT=4000
